<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/jdbc.properties</value>
                <value>classpath:properties/redis.properties</value>
                <value>classpath:properties/rabbitmq.properties</value>
                <value>classpath:properties/rmi.properties</value>
                <value>classpath*:mongodb.properties</value>
            </list>
        </property>
    </bean>

    <!-- rabbitmq -->
    <bean class="com.shine.mq.ConnectDataSource" destroy-method="closeAll">
        <constructor-arg index="0" value="${mq_IP}"/>
        <constructor-arg index="1" value="${mq_port}"/>
        <constructor-arg index="2" value="${mq_username}"/>
        <constructor-arg index="3" value="${mq_password}"/>
        <constructor-arg index="4" value="${mq_maxConnNum}"/>
    </bean>

    <import resource="classpath*:spring-mybatis.xml"/>
    <!--j2cache两级缓存spring配置-->
    <import resource="spring-j2cache.xml"/>
    <!--redis spring配置-->
    <import resource="spring-redis.xml"/>
    <!-- quartz-->
    <import resource="spring-quartz.xml"/>
    <!--rmi配置-->
    <import resource="spring-rmi-client.xml"/>
    <!--mongo 模块-->
    <import resource="classpath*:spring-mongodb.xml"/>

    <bean class="com.shine.init.RabbitListenerInit" init-method="init"/>

    <bean id="dictionaryService" class="com.shine.service.impl.DictionaryServiceImpl" />
</beans>