<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>j2cache两级缓存spring集成配置</description>

    <bean class="com.shine.j2cache.LoginMemberCache"/>
    <bean class="com.shine.j2cache.LoginAdminCache"/>
    <bean class="com.shine.j2cache.VerifyCodePhoneCache"/>
    <bean class="com.shine.j2cache.LoginAgentCache"/>

</beans>