<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>404</title>
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/catAll.css" />
	</head>
	<body>
		<div class="wrongNum mt40">
			<i class="mc wrongTop"></i>
			<i class="mc wrongFoot"></i>
			<ul class="wrongReason">
				<li>
					<span>原因：</span>
					<span class="f17">●<em class="pl15"></em>网络信号弱</span>
				</li>
				<li>
					<span class="mt_s-20"></span>
					<span class="ml_s4 f17">●<em class="pl15"></em>找不到请求页面</span>
				</li>
				<li>
					<span class="mt_s-20"></span>
					<span class="ml_s4 f17">●<em class="pl15"></em>输入网址不正确</span>
				</li>
			</ul>
		</div>
	</body>
</html>
