<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shine.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.shine.dao.model.Dictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="dict_desc" property="dictDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_id, code, dict_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
<!--  <insert id="insert" parameterType="com.shine.dao.model.Dictionary" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dictionary (category_id, code, dict_desc
      )
    values (#{categoryId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{dictDesc,jdbcType=VARCHAR}
      )
  </insert>-->
  <insert id="insertSelective" parameterType="com.shine.dao.model.Dictionary" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="dictDesc != null" >
        dict_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="dictDesc != null" >
        #{dictDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shine.dao.model.Dictionary" >
    update dictionary
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="dictDesc != null" >
        dict_desc = #{dictDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shine.dao.model.Dictionary" >
    update dictionary
    set category_id = #{categoryId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      dict_desc = #{dictDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dictionary
  </select>
  <select id="getDataByDictId" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List" />
    from dictionary where categoryid =#{categoryId}
  </select>
</mapper>